<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping List</title>

    <!-- Local bootstrap CSS & JS -->
    <link rel="stylesheet" media="screen" href="css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>    

</head>
<body>

    <script>
        var app = angular.module("myShoppingList", []);
        app.controller('myCtrl', function($scope) {
            $scope.products = ['Milk', 'Bread', 'Cheese'];

            
            $scope.addItem = function () {
                $scope.errortext = '';
                if (!$scope.addMe) {return;}
                if ($scope.products.indexOf($scope.addMe) == -1) {
                    $scope.products.push($scope.addMe);
                } else {
                    $scope.errortext = 'Already exists!';
                }
            }
            $scope.removeItem = function (x) {
                $scope.products.splice(x, 1);
            }
        });
    </script>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Shopping List</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-app="myShoppingList" ng-controller="myCtrl">
                            <ul class="list-group">
                                <li ng-repeat="x in products" class="list-group-item">
                                    {{ $index + 1 }} . {{ x }}
                                    <span ng-click="removeItem($index)">&times;</span>
                                </li>
                            </ul>
                            <div class="form-group">
                                <input ng-model="addMe" class="form-control">
                            </div>
                            <div class="form-group">
                                <button ng-click="addItem()" class="btn btn-primary">Add</button>
                            </div>
                            <p>{{ errortext }}</p>
                        </div>                        
                    </div>
                </div>                                
            </div>
        </div>
    </div>

</body>
</html>